aiohttp>=3.9.0
pypresence>=4.6.1
websockets>=12.0
winrt-Windows.Foundation>=3.0.0
winrt-Windows.Foundation.Collections>=3.0.0
winrt-Windows.Media.Control>=3.0.0
yandex-music>=2.0.0
telethon>=1.43.0
PySocks>=1.7.1
python-socks[asyncio]>=2.8.0
